.animation {
  width: 12%;
  position: relative;
  animation: homelander 6s ease-in-out alternate;
  border-radius: 35px;
  border: 3px solid black;
  margin-left: 200px;
  animation-iteration-count: infinite;
}

.animation:hover {
  animation-play-state: paused;
}
  
@keyframes homelander {
  0% {width: 12%; border: 3px solid red; border-radius: 35px; left:0px; top: 0px;}
  20% {width: 25%; border: 8px solid gold; border-radius: 10px; left: 650px; top: 75px;}
  40% {width: 8%; border: 3px solid blue; border-radius: 35px; left: 200px; top: 250px;}
  60% {width: 15%; border: 8px solid red; border-radius: 10px; left: 550px; top: 350px;}
  80% {width: 20%; border: 3px solid gold; border-radius: 35px; left: 250px; top: 520px;}
  100% {width: 12%; border: 8px solid blue; border-radius: 10px; left: 0px; top: 0px;}
}